<div id="flash-messages">
    <div class="alert alert-warning alert-dismissible alert-icon fade show top-messages" role="alert">
        <button type="button" class="fa-close close" data-dismiss="alert" aria-label="Close"></button>
        <div class="message">{{ 'mollie.payment.refund.voucher.message'|trans({'%amount%': form.mollieRefund.totalValue.vars.value, '%currency%': form.mollieRefund.currency.vars.value, }) }}</div>
    </div>
</div>