.mollie-generated-payment-link {
  input {
    width: 520px;
  }
}

.mollie-generate-payment-link-message {
  padding: 0 0 15px 0;
  max-width: 600px;
}

.ui-multiselect-menu.select-filter-widget.mollie-payment-link-multiselect-filter-widget {
  z-index: 10000
}

.mollie-copy-button {
  a{
    span {
      margin: 0 !important;
    }
  }
}