.checkout-form[data-content="payment_method_form"] {
  .checkout-form__radio[data-item-container] {
    display: none;
  }
}

.mollie-payment-widget {
  .mollie-payment-container {
    display: flex;
    align-items: center;

      .mollie-payment-widget-content{
        padding-left: 5px;

        .mollie-payment-surcharge {
          padding-bottom: 5px;
        }
      }
  }

  .mollie-payment-image {
    width: 64px;
  }
}