.checkout-form[data-content="payment_method_form"] {
  .checkout-form__radio[data-item-container] {
    display: none;
  }
}

.mollie-payment-widget {
  .mollie-payment-container {
    display: flex;
    align-items: center;

      .mollie-payment-widget-content{
        padding-left: 5px;

        .mollie-payment-surcharge {
          padding-bottom: 5px;
        }
      }
  }

  .mollie-payment-image {
    width: 64px;
  }

  .mollie-issuer-list-container {
    margin-top: 20px;

    .mollie-issuer-list-item {
      display: flex;
      align-items: center;
      margin: 10px 0 10px 0;

      label {
        display: flex;
        align-items: center;

        img {
          max-width: 32px;
        }
      }
    }

    input {
      margin-right: 15px;
    }

    img {
      margin-right: 15px;
    }
  }

  .mollie-component-wrapper {
    padding-top: 20px;
    max-width: 350px;
    min-width: 320px;
  }

  .form-fields {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .form-group {
    position: relative;
    /* Set a min-height for when the components are still loading */
    min-height: 52px;
  }

  .mollie-component-wrapper label {
    padding-left: 0;
  }

  /* Position the label over the input field (as if its a placeholder) */
  .label {
    position: absolute;
    top: 16px;
    left: 17px;
    color: #888;

    transform-origin: top left;
    transition: all 0.05s ease;
  }

  /* Move the label to the top on focus or when the field is dirty */
  .form-group.has-focus .label,
  .form-group.is-dirty .label {
    transform: scale(0.65) translateY(-65%);
  }

  .form-error,
  .field-error {
    margin-top: 8px;
    margin-bottom: 0;
    color: #f00;
    font-size: 13px;
    font-weight: 500;
  }

  .mollie-component {
    width: 100%;
    padding: 18px 15px 10px;
    color: #222;

    border: 2px solid transparent;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.05);

    transition: all 0.05s ease;
  }

  .mollie-component.has-focus {
    border-color: #07f;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 6px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  }

  .mollie-component.is-invalid {
    border-color: #f00;
    background-color: #fff0f0;
  }

  /* Hide the iframe by default */
  .mollie-component iframe {
    opacity: 0;
    transition: all 0.05s ease;
  }

  /* Show the iframe on focus or when dirty */
  .form-group.has-focus .mollie-component iframe,
  .form-group.is-dirty .mollie-component iframe {
    opacity: 1;
  }

  @media (min-width: 321px) {
    .form-fields {
      grid-template-columns: 1fr 1fr;
    }

    .form-group--cardHolder {
      grid-column: span 2;
    }

    .form-group--cardNumber {
      grid-column: span 2;
    }
  }

  @media (min-width: 480px) {
    .wrapper {
      padding: 20px;
    }

    .form {
      padding: 40px;
    }
  }
}